        *{
            margin: 0;
            padding: 0;
        }
        body{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            width: 99.9%;
            background-color: FFD100;
        }
                                                                     /* HEADER */
     


        .imagen{
            grid-area: imagen;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content:flex-start;
        }
        .custom-container{
            padding: 0;
            top: 0;
            background-color:333533;
            height: 90px;
            width: 100%;
          
        }

    .logo{
            height: 150px;
            background-color: 333533;
            box-shadow:0px 0px 25px 3px; 
            border-radius:0 0 40px 0px;
            overflow: hidden;
            border:solid 1px;

        }

    header .nav_container .navigation {
        display: flex;
        flex-direction: row;
        list-style-type: none;
    
        }

    header .nav_container .lista_nav a{
            text-decoration:none;
            padding: 5px;
            color: white;
            font-size: 18px;
            padding: 10px;
        }
    .nav_container {
        display: flex;
        list-style-type: none;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
    }

    .toggler-custom{
        background-color: aliceblue;
    }
    .nav-custom{
        position: fixed;
        width: 100%;  
        height: 70px; 
        z-index: 5; 
     
    }
    .nav-link{
        color: white;
    }
    .navbar-toggler .navbar-toggler-icon{
        border: 0;
    }
    .navbar-collapse{
        flex-grow: 0.05;
        top: 0;
    }
    
    .navbar-custom{
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
      
    }

       
                                                                                /* INDEX */
    





    .container-index{
        position: absolute;
   

    }

    .h1_index{
     position: fixed;
        font-family: 'Nunito', sans-serif;
        font-weight:800;
        font-style: italic;
        font-size: 64px;
        text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); 
    }
    .info{
            list-style-type:disc;
            font-size: 30px;
            font-family: 'Nunito', sans-serif;
            display: flex;
            flex-direction: column;
            width: 100%;
        }
 
    .florida{
        width: 33%;
        height: 50%;
            border-radius: 100%;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7); 
            z-index: 3;
            display: flex;
            transition: all 400ms ease;
            border:solid 1px
        }
    .florida:hover{
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 1.0);
        transform: translateY(-5%);
        }

    .bowling{
        width: 33%;
        height: 50%;
            border-radius: 100%;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7); 
            z-index: 2;
            display: flex;
            transition: all 400ms ease;
            margin-top: 35px;
            border:solid 1px
        }
    .bowling:hover{
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 1.0);
        transform: translateY(-5%);
        }

    .tom{
            width: 33%;
            height: 50%;
            border-radius: 100%;
            right:100px;
            z-index: 2;
            display: flex;
            transition: all 400ms ease;
            margin-top: 35px;
            border:solid 1px
        
        }
    .tom:hover{
            box-shadow: 10px 10px 30px rgba(0, 0, 0, 1.0);
        transform: translateY(-5%);
        }



                                                                 /* SOBRE NOSOTROS */
        .Container_principal{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content: space-around;
            width: 100%;
            height: 100%;
        }

        .Container_SN{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            align-items: center;
            margin-top: 5%;  
}
        .Titulo_S {
         margin:10px;
         font-family: 'Nunito', sans-serif;
         font-weight:800;
         font-style: italic;
         font-size: 64px;
         text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); 
        
        }

        .Container_Li_SN{
            display: flex;
            flex-wrap: wrap;
            background-color: 00A6FB;
            border-radius: 40px;
            width: 600px;
            border:solid 2px black;
            box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7); 
          
        }    


    
        .Li_SN{
            font-size: 24;
            font-family: 'Nunito', sans-serif;
            font-weight: 300;
            font-style: italic;
            list-style-type: disc;
            color: FFFFFC;
            margin:30px;
            width: 100%;
            text-align: center;
        }
                                                                /* PRODUCTOS */
            .container_h1{
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                margin-top: 5%;
                align-items: center;
            }

            .h1_productos{
                margin:10px;
                font-family: 'Nunito', sans-serif;
                font-weight:800;
                font-style: italic;
                font-size: 64px;
                text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); 

            }

         
            .card-product{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                background-color: 00A6FB;
                height:100%;
                width: 100%;
                margin:35px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                border-radius: 40px;
                border:solid 2px black;
                box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5); 
            }

            .img_inflable{
                height: 90%;
                width: 50%;
                border-radius: 40px;
                margin: 10px;
                border:solid 1px black
            }
            .text_product{
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                margin-left: 10px;
                font-size: 15px;
            }
                                                                /* Eventos */
                .Container_h1_eventos{
                    text-align-last: center;
                    margin-top: 5%;
            
                }
                .eventos{
                    margin:50px;
                    font-family: 'Nunito', sans-serif;
                    font-weight:800;
                    font-style: italic;
                    font-size: 64px;
                    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); 
                        }
                .carousel{
                    margin: 5%;
                }
                .img-carousel-custom{
                height: 600px;
                object-fit: cover;
                width: 700px;
                }
               
                                                                /* Contacto */
                    .container_titulo_contacto{  display: flex;
                        flex-direction: column;
                        align-content: center;
                        align-items: center;
                        margin-top: 5%;
                        align-items: center;

                    }
                    .titulo_contacto{
                        margin:10px;
                        margin-bottom: 50px;
                        font-family: 'Nunito', sans-serif;
                        font-weight:800;
                        font-style: italic;
                        font-size: 64px;
                        text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); 
                    }
                    .container_contacto{
                        display: flex;
                        flex-direction: column;
                        margin:120px;
                        margin-left: 300px;
                        font-size: 32px;
                        font-family: 'Roboto', sans-serif;
                        font-style: italic;
                        font-weight: 900;
                        justify-content: center;
                        height: 300px;
                        width: 80%;
                    }
                    .container_whatsapp{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .whatsapp{
                        height: 100px;
                        width: 100px;
                        margin: 20px;
                    }
                    .instagram{
                        height: 100px;
                        width: 100px;
                        margin: 20px;
                    }
                    .container_instagram{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .facebook{
                        height: 100px;
                        width: 100px;
                        margin: 20px;
                    }
                    .container_facebook{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                    .gmail{
                        height: 120px;
                        width: 120px;
                        margin: 10px;
                    }
                    .container_gmail{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                    }
                                                                                /* INDEX MOBILE */
@media screen and (max-width:768px)
                {
                        
                        .h1_index{
                            margin-top: 40px;
                            font-size: 50px;
                            text-align:center ;

                        }
                        .logo {
                            height: 100px;
                        }
                
                            .imagen{
                                margin: 0px;
                            }
                               .container-index{
                                position: absolute;
                               }
                                .info{
                                    list-style-type:disc;
                                    font-size: 25px;
                                    font-family: 'Nunito', sans-serif;
                                    display: flex;
                                    flex-direction: column;
                                    width: 100%;
                                    margin-top: 1opx;
                                }
                                                                                /* SOBRE NOSOTROS MOBILE */
    
             .Container_principal{
            
            width: 100%;
            height: 100%;
            margin-bottom: 50px
        }

        .Container_SN{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            margin-top: 10%;
            align-items: center;
            margin-top: 100px;
                }

                .Titulo_S {
                font-size: 40px;
                
                }

                .Container_Li_SN{
                    height: 450px;
                    width: 300px;
                    margin-bottom: 50px;
                }    

                .Li_SN{
                    font-size: 15px; 
                }                                               
                                                                                    /* PRODUCTOS MOBILE */

                .h1_productos{
                    margin:40px;
                    font-size: 50px;
                }                
                
                .card-product{
                    height:200px;
                    width: 300px;
                    margin:35px;
                }
                .img_inflable{
                    height: 180px;
                    width: 150px;
                    border-radius: 40px;
                    margin: 10px;
                    border:solid 1px black
                }
                .text_product{
                    font-size: 14px;
                }

                                                                                /* EVENTOS MOBILE */

                .eventos{
                    font-size: 50px;
                        }

                .Container_img_eventos{
                    display: grid;
                    grid-template-columns: 30% 30% 30%;
                    grid-template-rows: 300px 300px 300px 70px;
                    grid-row-gap: 30px;
                    grid-template-areas: 
                    "cumple_1 cumple_1 cumple_1"
                    "cumple_2 cumple_2 cumple_2"
                    "cumple_3 cumple_3 cumple_3"
                    "footer2 footer2 footer2";

                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    padding-bottom: 90px;
                }
                .cumple_1{
                    grid-area:cumple_1;
                    height: 100%;
                    width: 100%;
                }
          
                .cumple_2{
                    grid-area:cumple_2;
                    height: 100%;
                    width: 100%;
                    
                }

           

                .cumple_3{
                    grid-area:cumple_3;
                    height: 100%;
                    width: 100%;
                }
                .footer2{
                    grid-area: footer2;
                    height:70px;
                    background-color: D6D6D6;
                    bottom:0;
                    margin-top:100% ;
                    width: 100%;
                }
                                                                                /* CONTACTO MOBILE */

 
                    .titulo_contacto{
                        font-size: 50px;
                    }
                    .container_contacto{
                        margin:50px;
                        margin-left: 0px;
                        font-size: 20px;
                        height: 50%;
  
                    }
        
                    .whatsapp{
                        height: 50px;
                        width: 50px;
              
                    }
                    .instagram{
                        height: 50px;
                        width: 50px;
                 
                    }
            
                    .facebook{
                        height: 50px;
                        width: 50px;
                     
                    }
             
                    .gmail{
                        height: 50px;
                        width: 50px;
                        margin: 20px;
                    }
            



            


                }

        footer{
            height:70px;
            background-color: D6D6D6;
            bottom:0;
            width: 100%;
            
        }
        #footer_2{
            position: absolute;
            height:70px;
            background-color: D6D6D6;
            bottom:0;
            width: 100%;
            margin-top: 100%;
        }